.prose {
  @apply max-w-3xl;

  /* Margin Defaults */
  & * + * {
    @apply mt-5 md:mt-6;
  }

  & hr {
    @apply border-b border-neutral-200 border-t-0 my-8;
  }

  & * + button {
    @apply mt-0;
  }

  & p + p {
    @apply mt-4 md:mt-5;
  }

  & li + li {
    @apply mt-3;
  }

  /* Common Elements Sizing/Colors */
  & p,
  & ul,
  & ol {
    @apply text-base md:text-lg text-neutral-600 leading-relaxed;
  }

  & p > a {
    @apply text-primary-600 hover:text-primary-700 underline decoration-primary-300 underline-offset-2 transition-colors;
  }

  & ul {
    & li {
      @apply relative pl-6;
    }
  }

  & ul li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin-top: 10px;
    @apply bg-primary-500;
  }

  & ol {
    @apply list-inside list-decimal;
  }

  & img,
  & figure {
    @apply mt-8 md:mt-10 rounded-xl;
  }

  /* Used for Next/Img element due to inline margin styling */
  & div {
    @apply mt-6 md:mt-8 !important;
  }

  & div:first-of-type {
    @apply mt-0 md:mt-0 !important;
  }

  /* Override accordion margins when in prose */
  & details {
    @apply mt-0 !important;

    & p {
      @apply mt-2 mb-4 !important;
    }

    & * + * {
      @apply mt-0 !important;
    }
  }

  & strong {
    @apply text-neutral-900 font-semibold;
  }

  & blockquote {
    @apply bg-primary-50 rounded-xl p-6 border-l-4 border-primary-500 italic;
  }

  & cite {
    @apply not-italic text-sm mt-4 block font-medium text-neutral-500;
  }

  /* Headings */
  & h1,
  & h2,
  & h3,
  & h4 {
    @apply text-neutral-900 font-semibold tracking-tight;
  }

  & * + h2,
  & * + h3,
  & * + h4 {
    @apply mt-10;
  }

  & h4 + * {
    @apply mt-4;
  }

  & h1 {
    @apply text-heading-lg md:text-heading-xl xl:text-heading-2xl;
  }

  & h2 {
    @apply text-heading-md md:text-heading-lg xl:text-heading-xl;
  }

  & h3 {
    @apply text-heading-sm md:text-heading-md xl:text-heading-lg;
  }

  & h4 {
    @apply text-heading-xs md:text-heading-sm font-medium;
  }
}

.prose--large {
  & p,
  & ul,
  & ol {
    @apply text-base md:text-lg xl:text-xl;
  }

  & h1 {
    @apply text-heading-xl md:text-heading-2xl xl:text-heading-3xl;
  }

  & h2 {
    @apply text-heading-lg md:text-heading-xl xl:text-heading-2xl;
  }

  & h3 {
    @apply text-heading-md md:text-heading-lg xl:text-heading-xl;
  }
}

.prose--white {
  & h1,
  & h2,
  & h3,
  & h4 {
    @apply text-white;
  }

  & p,
  & ul,
  & ol {
    @apply text-neutral-200;
  }

  & blockquote {
    @apply bg-white bg-opacity-10 border-white border-opacity-30;
  }

  & strong {
    @apply text-white;
  }

  & p > a {
    @apply text-primary-300 hover:text-primary-200;
  }
}
